
/*
 * Styling that applies to all widgets.
 */

* {
	/* FIXME: those need to be exported to gtkrc.
	xthickness: 1;
	ythickness: 1;
	*/

	background-color: gtk-color(bg_color);
	border-color: gtk-color(fg_color);
	color: gtk-color(text_color);

	/* Inherit expse hacks from widget to primitive. */
	gce-send-expose: inherit;

	/* Terminate recursion for properties inherited by the builtin stylesheet.
	border-radius: none;
	border-image: none;
	FIXME ... once it works */
}

*:insensitive {
	background: gtk-mix(0.5, bg_color, grey) ! important;
	border-color: gtk-mix(0.5, fg_color, grey) ! important;
	color: gtk-mix(0.5, text_color, grey) ! important;
}

/*
 * Pseudo-widgets that are implemented by the CSS engine.
 */

gtk-cell {
	background: gtk-color(base_color);
	border-radius: 0px;
}

gtk-cell:selected {
	background: gtk-color(selected_bg_color);
}

gtk-check-mark {
	border: 1px solid;
}

gtk-check-mark[shadow=in] {
	background: gtk-color(selected_bg_color);
}

gtk-focus {
	background-color: none;
	background-image: none;
	border: 1px dotted gtk-color(selected_bg_color);
}

gtk-handle {
	border: 1px solid;
	border-radius: 3px;
}

gtk-header {
	background: gtk-color(bg_color);
	border: 1px solid;
}

gtk-handle:prelight {
	background: gtk-lighter(selected_bg_color);
}

gtk-radio-knob {
	border: 1px solid;
	border-radius: 50%;
}

gtk-radio-knob[shadow=in] {
	background: gtk-color(selected_bg_color);
}

/* FIXME: maybe have just 'gtk-stepper' with direction/orientation attributes? */
gtk-stepper-up, gtk-stepper-down {
	border: 1px solid;
}

gtk-tab {
	background: gtk-shade(1.05, bg_color);
	border: 1px solid;
	border-radius: 3px;
}

gtk-trough {
	background: gtk-mix(0.5, bg_color, grey);
}

/*
 * Regular gtk widgets.
 */

GtkButton, GtkComboBox, GtkComboBoxEntry, GtkEntry, GtkFrame, GtkNotebook {
	border: 1px solid;
	border-radius: 3px;
}

GtkButton:prelight, GtkComboBox:prelight {
	/* Use shorthand notation, because that's what's inherited. */
	background: gtk-lighter(selected_bg_color);
	color:  gtk-color(selected_fg_color);
}

GtkButton:active {
	background: gtk-color(selected_bg_color);
}

GtkCalendar {
	background: gtk-color(base_color);
	border: 1px solid;
	border-radius: 3px;
}

/* FIXME: the calendar seems to invalidate a bigger area for the
 * arrow than what is redrawn. */
GtkCalendar > arrow {
	background: gtk-mix(0.5, selected_bg_color, grey);
}

GtkCellView {
	color: gtk-color(text_color);
}

GtkCellView:prelight {
	color: gtk-color(selected_fg_color);
}

GtkComboBoxEntry > GtkButton {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
GtkComboBoxEntry > GtkEntry {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

GtkEntry {
	background: gtk-color(base_color);
}

GtkEntry:selected {
	background-color: gtk-color(selected_bg_color);
	color: gtk-color(selected_fg_color);
}

GtkExpander:prelight {
	background: gtk-lighter(selected_bg_color);
	border: 1px solid;
}

GtkMenu {
	border: 1px solid;
}

GtkMenuItem:prelight {
	background: gtk-lighter(selected_bg_color);
	color: gtk-color(selected_fg_color);
}

GtkNotebook {
	background: gtk-shade(1.05, bg_color);
}

/* FIXME: why can we not just use "GtkProgressBar.bar" here? */
GtkProgressBar > box.bar {
	background: gtk-color(selected_bg_color);
	border-radius: 3px;
}

GtkToggleButton[active=true] {
	background: gtk-color(selected_bg_color);
}
GtkToggleButton[active=true]:prelight {
	background: gtk-lighter(selected_bg_color);
}

GtkSpinButton {
	border-radius: 3px; /* FIXME: seems not to apply to the steppers. */
}

GtkSpinButton > arrow {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

GtkSpinButton > arrow[orientation=up] {
	background-image: url(arrow-up-small.png);
}

GtkSpinButton > arrow[orientation=down] {
	background-image: url(arrow-down-small.png);
}

GtkTreeView {
	background: gtk-color(base_color);
}

/* FIXME: Support this thru 'gtk-header' at some point. */
GtkTreeView > GtkButton {
	background: gtk-color(bg_color);
}

GtkHScrollbar, GtkVScrollbar {
	border-radius: 3px;
}

GtkScrollbar > gtk-handle {
	border-radius: 0px;
}
GtkHScrollbar > gtk-stepper-up {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
GtkHScrollbar > gtk-stepper-down {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
GtkVScrollbar > gtk-stepper-up {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
GtkVScrollbar > gtk-stepper-down {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

GtkHSeparator {
	border-top: 1px dotted gtk-color(fg_color);
}

GtkVSeparator {
	border-left: 1px dotted gtk-color(fg_color);
}

GtkSeparatorMenuItem {
	border-top: 1px dotted gtk-color(fg_color);
}

/* Experimental. */
GtkToolbar {
	gce-send-expose: toplevel-focus-change;
}
GtkWindow[has-toplevel-focus=true] GtkToolbar {
	background: red;
}
GtkWindow[has-toplevel-focus=false] GtkToolbar {
	background: blue;
}
/**/

GtkToolbar[orientation=horizontal] > GtkSeparatorToolItem {
	border-left: 1px dotted gtk-color(fg_color);
}
GtkToolbar[orientation=vertical] > GtkSeparatorToolItem {
	border-top: 1px dotted gtk-color(fg_color);
}
/*
GtkSeparatorToolItem {
	border-top: 1px dotted gtk-color(fg_color);
	border-left: 1px dotted gtk-color(fg_color);
}
*/

/*
 * Drawing primitives.
 */

/* Arrows */

arrow {
	background-color: transparent ! important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
arrow[orientation=up] {
	background-image: url(arrow-up.svg);
}
arrow[orientation=down] {
	background-image: url(arrow-down.svg);
}
arrow[orientation=left] {
	background-image: url(arrow-left.svg);
}
arrow[orientation=right] {
	background-image: url(arrow-right.svg);
}

/* FIXME
hline, vline {
	background: gtk-color(fg_color);
}
*/
