
/*
 * Styling that applies to all widgets.
 */

* {
  /* FIXME: those need to be exported to gtkrc.
	xthickness: 1;
	ythickness: 1;
	*/

	background-color: gtk-color(bg_color);
	border-color: gtk-color(fg_color);
	color: gtk-color(text_color);
	/* Terminate recursion for properties inherited by the builtin stylesheet.
	border-radius: none;
	border-image: none;
	FIXME ... once it works */
}

*:insensitive {
  background: gtk-mix(0.5, bg_color, grey) ! important;
	border-color: gtk-mix(0.5, fg_color, grey) ! important;
	color: gtk-mix(0.5, text_color, grey) ! important;
}


GtkButton {
	border-image: url(theme.svg#button) 8 9 6 9;
}

GtkButton:prelight {
	border-image: url(theme.svg#button-prelight) 8 9 6 9;
}

GtkButton[has-focus=true] {
	border-image: url(theme.svg#button-focused) 8 9 6 9;
}

GtkButton[has-focus=true]:prelight {
	border-image: url(theme.svg#button-prelight-focused) 8 9 6 9;
}

