
GtkArrow > arrow {
	background: inherit;
}

GtkButton > box {
	background: inherit;
	border: inherit;
	border-image: inherit;
	border-radius: inherit;
}

GtkCalendar > shadow {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkCalendar > gtk-header {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

GtkCellRendererProgress > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkCheckButton > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

/* FIXME: rtl variant? */
GtkComboBoxEntry > GtkEntry > shadow {
	background: inherit;
	border-left: inherit;
	border-top: inherit;
	border-bottom: inherit;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}
GtkComboBoxEntry > GtkButton {
	border-top: inherit;
	border-right: inherit;
	border-bottom: inherit;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

GtkCurve > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkEntry > flat-box.entry-bg {
	background: inherit;
}

GtkEntry > shadow {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkEventBox > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkExpander > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkFrame > shadow {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

/* The `payload' area. */
GtkHandleBox > box {
	background: inherit;
}
GtkHandleBox[handle-position=left] > box {
	border-top: inherit;
	border-right: inherit;
	border-bottom: inherit;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
}
GtkHandleBox[handle-position=top] > box {
	border-left: inherit;
	border-right: inherit;
	border-bottom: inherit;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
GtkHandleBox[handle-position=right] > box {
	border-left: inherit;
	border-top: inherit;
	border-bottom: inherit;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}
GtkHandleBox[handle-position=bottom] > box {
	border-left: inherit;
	border-top: inherit;
	border-right: inherit;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

GtkHScale > box {
	background: inherit;
	border-top: inherit;
	border-bottom: inherit;
}

GtkHScrollbar > gtk-trough {
	background: inherit;
	border-top: inherit;
	border-bottom: inherit;
	border-radius: inherit;
}

GtkHSeparator > hline {
	background: none;
	border-top: inherit;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

/* DEPRECATED, maybe consider later.
GtkListItem > flat-box {
	ccss:import("GtkTreeView > flat-box");
}
*/

GtkMenuBar > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkMenu > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkMenuItem > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkNotebook > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkOptionMenu > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

/* DEPRECATED, maybe consider later.
GtkOptionMenu > tab {
	ccss:import("arrow[direction=down]");
}
*/

/* Interestingly GtkProgress uses `flat-box', while GtkProgressBar uses `box' 
 * for the trough. */
GtkProgressBar > box.trough {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}
GtkProgress > flat-box.trough {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}
GtkProgressBar > box.bar {
	border-radius: inherit;
}

GtkRadioButton > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkRuler > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

/* This applies when using "wide separators". */
GtkSeparator > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

/* This applies when using "wide separators". */
GtkSeparatorMenuItem > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkSeparatorMenuItem > hline {
	background: none;
	border-top: inherit;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

/* This applies when using "wide separators". */
GtkSeparatorToolItem > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkSeparatorToolItem > hline {
	background: none;
	border-top: inherit;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

GtkSeparatorToolItem > vline {
	background: none;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: inherit;
}

/* FIXME: rtl variant? */
GtkSpinButton > GtkEntry > shadow {
	background: inherit;
	border-left: inherit;
	border-top: inherit;
	border-bottom: inherit;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}
GtkSpinButton > box.spinbutton-up {
	border-top: inherit;
	border-right: inherit;
	border-top-right-radius: inherit;
}
GtkSpinButton > box.spinbutton-down {
	border-right: inherit;
	border-bottom: inherit;
	border-bottom-right-radius: inherit;
}

GtkTearoffMenuItem > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

/* FIXME: deprecated, maybe consider later.
GtkText > flat-box {
	ccss:import("GtkEntry > flat-box");
}
GtkText > shadow {
	ccss:import("GtkEntry > shadow");
}
*/

GtkToolbar > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkTooltip > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

/* DEPRECATED, maybe consider later.
GtkTreeItem > flat-box {
	ccss:import("GtkTreeView > flat-box");
}
*/

GtkTreeView > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkViewport > flat-box {
	background: inherit;
}

GtkViewport > shadow {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}

GtkVScale > box {
	background: inherit;
	border-top: inherit;
	border-bottom: inherit;
}

GtkVScrollbar > gtk-trough {
	background: inherit;
	border-left: inherit;
	border-right: inherit;
	border-radius: inherit;
}

GtkVSeparator > vline {
	background: none;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: inherit;
}

GtkWindow > flat-box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}
/* Need to find out whether this is used at all
GtkWindow > box {
	background: inherit;
	border: inherit;
	border-radius: inherit;
}
*/

